body {
    background-color: white;
}
h2 {
    color:white;
    background-color: blue;
    font-style: italic;
    font-size:300%;
}
p {
    color:white;
    background-color: blue;
    font-style: italic;
    font-size: 200%;
}